.details-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffe259, #ffa751);
}

.details-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.details-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.details-form input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.save-btn {
  padding: 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.save-btn:hover {
  background-color: #000;
}
